body{
    background: rgb(148, 148, 231);
}
h1{
    text-align: center;
}
#div1{
    background: white;
    border: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.37) 3px 3px 3px;
    width: 500px;
    height: auto;
    padding: 15px;
    margin: auto;
}
p{
    margin: 10px;
}
select{
    width: 200px;
    height: 150px;
    margin: 10px;
}
#fim{
    margin-left: 10px;
}